HSbLbW717XC2Ofdb-New_Lead.json
{
  "name": "New Lead",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First name"
            },
            {
              "fieldLabel": "Last name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "100-1000$"
                  },
                  {
                    "option": "1000$+"
                  },
                  {
                    "option": "0-100$"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "a736476f-fb99-48fd-aa6a-57f65738546f",
      "name": "On form submission",
      "webhookId": "a10b31e1-d114-48df-80c5-7a219e63a938"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15BErZeKs_xZMRzstdGemy_42_uMp9oO2FouyN_1YjFk",
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15BErZeKs_xZMRzstdGemy_42_uMp9oO2FouyN_1YjFk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 745418258,
          "mode": "list",
          "cachedResultName": "lead-v2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15BErZeKs_xZMRzstdGemy_42_uMp9oO2FouyN_1YjFk/edit#gid=745418258"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First name": "={{ $json['First name'] }}",
            "Last name": "={{ $json['Last name'] }}",
            "Email": "={{ $json.Email }}",
            "Budget": "={{ $json.budget }}",
            "Date": "={{ $today}}",
            "Rejected": "={{ $if($json.budget === \"1000$+\",\"FALSE\",\"TRUE\") }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rejected",
              "displayName": "Rejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "55fcdc50-30e2-4ba2-b223-221961f7a5d1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "frjVGhLuR4fBeDAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.budget }}",
                    "rightValue": "100-1000$",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "73fa9ab9-5c80-44ab-ab37-cb98840ec8f5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a5ead30-bfcf-49b6-ae33-117c432daacb",
                    "leftValue": "={{ $('On form submission').item.json.budget }}",
                    "rightValue": "1000$+",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8239746-f92d-4d0a-b066-41e53b9de2a9",
                    "leftValue": "={{ $('On form submission').item.json.budget }}",
                    "rightValue": "0-100$",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        -16
      ],
      "id": "c7b7ca35-f971-404d-aa4b-d4938946e4a1",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Thank you for showing interest on my product!",
        "message": "=Hey!  {{ $('On form submission').item.json['First name'] }} thank you! lets jump for a call!",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        -96
      ],
      "id": "56e1e24d-77aa-4801-8677-a321065159ba",
      "name": "Send a message",
      "webhookId": "8c6e67c4-d8cd-4de0-84ef-163505b794b6",
      "credentials": {
        "gmailOAuth2": {
          "id": "61fAJktxpN5lGcGF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Thank you for showing interest on my product!",
        "message": "=Hey!  {{ $('On form submission').item.json['First name'] }}Witiwew budget let me grab that shyt!",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        96
      ],
      "id": "1932cce5-c4f2-44d5-a503-28ad9ac2034e",
      "name": "Send a message1",
      "webhookId": "8c6e67c4-d8cd-4de0-84ef-163505b794b6",
      "credentials": {
        "gmailOAuth2": {
          "id": "61fAJktxpN5lGcGF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        0
      ],
      "id": "e04bfb3c-15bf-40a0-90ec-77a498d476be",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09D9RZ1RRP",
          "mode": "list",
          "cachedResultName": "all-freelancer-demo"
        },
        "text": "=First name:  {{ $('On form submission').item.json['First name'] }}\nEmail: {{ $('On form submission').item.json.Email }}\nBudget: {{ $('On form submission').item.json.budget }}\nMessage: {{ $('On form submission').item.json.Message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1280,
        0
      ],
      "id": "d8e86d95-e516-464d-9467-5f7ad032a9fe",
      "name": "Send a message2",
      "webhookId": "bf3dec06-6f56-428d-a300-914b1015eb06",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xhv0jSCEZIC7DwUS",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Thank you for showing interest on my product!",
        "message": "=Hey!  {{ $('On form submission').item.json['First name'] }} Poor guy!",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        288
      ],
      "id": "817c7621-f1c2-4133-9df3-0297e63d71ca",
      "name": "Send a message3",
      "webhookId": "8c6e67c4-d8cd-4de0-84ef-163505b794b6",
      "credentials": {
        "gmailOAuth2": {
          "id": "61fAJktxpN5lGcGF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First name": "Karding",
          "Last name": "Sungkit",
          "Email": "kardeBSungkit@gmail.com",
          "budget": "100-1000$",
          "Message": "talk to me dog",
          "submittedAt": "2025-09-01T15:07:13.174+08:00",
          "formMode": "test"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}