OfwhpWYNNnIpf7eW-My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Request an installation",
        "formDescription": "fill-out this form for installation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Installation Date",
              "fieldType": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "338f3b24-414a-4b51-882e-13622f1bdcf3",
      "name": "On form submission",
      "webhookId": "2ef06959-7843-4bc5-8779-b008d4ea1bbc"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93692b5e-98b2-4791-aba5-012e734442e8",
              "leftValue": "={{ $json['Preferred Installation Date'] }}",
              "rightValue": "={{ $now.plus(7,'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "bcb632e5-6a65-4032-903b-38bb3b5fdbdf",
      "name": "is within 7 days?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "a3339930-88f9-4871-bf2e-5d330c1ab817",
      "name": "todo"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09D9RZ1RRP",
          "mode": "list",
          "cachedResultName": "all-freelancer-demo"
        },
        "text": "=New installation request 7 days notice!\n\nrequest date:{{ $json['Preferred Installation Date'] }}\ncontact email:{{ $json['Email Address'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        416,
        -96
      ],
      "id": "da7263b6-ccc1-4011-9596-77d5407d3967",
      "name": "Send a message",
      "webhookId": "717df954-2073-46e2-8b67-0c26f5b5d19a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "rLPjQaQZUbKV1uFT",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "is within 7 days?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is within 7 days?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}